.appointment_container {
  display: flex;
  padding: 8% 6%;
  /* margin: auto; */
  margin-top: -8%;
  /* margin-left: 5%; */
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  /* gap: -1014px; */
  border-radius: 30px;
}

.appointment_card_container {
  display: flex;
  flex-direction: row;
  width: 1180px;
  height: 502px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  gap: 60px;
}

.appointment_card_img {
  width: 484px;
  height: 502px;
}

.appointment_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: auto;
  width: 582px;
  height: 371px;
}

.appointment_heading {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.appointment_form_input {
  display: flex;
  flex-direction: row;
  gap: 26.5px;
  align-items: flex-start;
}
.appointment_input {
  width: 250px;
  height: 55px;
  border-radius: 30px;
  border: 1px solid #939394;
  padding: 10px;
  font-size: 21px;
  /* margin-top: 6px;
  margin-bottom: 80px; */
}
.appointment_input::placeholder {
  color: #939394;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.appointment_btn {
  width: 100%;
  border-radius: 30px;
  border: 2px solid #89db7b;
  background: #89db7b;
  box-shadow: 4px 4px 30px 0px #89db7b;
  height: 50px;
}

.appointment_btn_content {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  position: relative;
}

.appointment_arrow_img {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 26rem;
  top: 0.2rem;
}

@media screen and (max-width: 417px) {
  .appointment_container {
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    padding: 0%;
  }

  .appointment_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
    margin: auto;
    height: 680px;
  }
  .appointment_card_img {
    width: 30%;
    height: 25%;
    margin-top:12%;
    margin-bottom: -25%;
  }

  .appointment_form{
    width: 100%;
    margin: auto;
  }
  
  .appointment_heading {
    font-size: 26px;
  }

  .appointment_form_input {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .appointment_input {
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 30px;
    border: 1px solid #939394;
    padding: 10px;
    font-size: 21px;
  }

  .appointment_btn {
    width: 70%;
    height: 400px;
    margin-top: -10%;
  }

  .appointment_arrow_img {
    left: 11.5rem;
    top:1rem;
  }

  .appointment_btn_content{
  font-size: 20px;
  font-weight: 600;
  margin-left: -10%;
  }
  
}
