nav {
  display: flex;
  /* padding: 20px 7%;*/
  align-items: center;
  font-family: "Poppins";
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.drop_down_button {
  display: none;
}

.drop_down_ul{
  list-style: none;
  background-color: rgb(180, 168, 168)
}

.nav_logo {
  color: #1e1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  /* margin-right: 59px; */
}

.D {
  color: #89db7b;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}

.nav_links {
  /* width: 60%;
  margin: auto; */
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;

}

a {
  margin-right: 100px;
  text-decoration: none;
  color: #1e1e1e;
}


.Button {
  padding: 0 30px;
  height: 75px;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid #89db7b;
  background-color: white;
  transition: transform 0.5s;

  
}
.Button:hover{
  transform: scale(1.1);
}

.button_span {
  /* padding-right: 15px; */
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}

.arrow_img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 413px) {
  nav {
    display: flex;
    flex-direction: column;
    height: -10%;
    align-items: flex-start;
    font-family: "Poppins";
  }
  .nav_logo {
    color: #1e1e1e;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-right: -130%;
    margin-bottom: -150px;
    
  }

.drop_down_ul{
 border-radius: 19px;
 margin-top: -1%;
}

  .nav_button {
    visibility: hidden;
  }
  .nav_links {
    visibility: hidden;
    /* display: none; */
  }

  .drop_down_button {
    /* visibility: visible; */
    display: block;
    /* display: none; */
    /* margin-bottom: -30%; */
  }
}
