.services_body {
  display: flex;
  /* padding: 100px 80px; */
  padding: 8% 0%;
  flex-direction: column;
  font-family: "Poppins";
  width: 100%;
  margin: auto;
}
.services_h1 {
  text-align: center;
  color: #89db7b;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.services_h2 {
  color: #1e1e1e;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 70px;
}

.services_card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
}

.services_cards {
  width: 375px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 20px;
  background: linear-gradient(
    235deg,
    #feefc1 8.72%,
    rgba(254, 239, 193, 0.1) 97.2%
  );
  box-shadow: 5px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.services_card_inner {
  display: inline-flex;
  padding: 30px 30px 0px 30px;
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  height: 262px;
  position: relative;
}

.services_card_h1 {
  color: #1e1e1e;
  padding-top: 1%;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 20px;
}

.services_card_h2 {
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  height: 83px;
  width: 158px;
}

.services_card_img0 {
  position: absolute;
  left: 205%;
}

.services_card_img1 {
  position: absolute;
  left: 167%;
}

.services_card_img2 {
  position: absolute;
  left: 145%
}

.services_card_img3 {
  position: absolute;
  left: 98%;
}

.services_card_img4 {
  position: absolute;
  left: 130%;
}

.service_btn {
  position: absolute;
  top: 14.5rem;
  width: 80%;
  height: 13%;
  border-radius: 20px;
  background: #fff;
  transition: transform 0.5s;
}
.service_btn:hover{
  transform: scale(1.1);
}

.service_button_contetnt {
  color: #1e1e1e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.154px;
}

@media screen and (max-width: 413px){
  .services_body {
    width: 100%;
    margin: auto;
  }
  .services_h2 {
    color: #1e1e1e;
    font-size: 20px;
  }
  .services_card_container {
    display: flex;
    flex-direction: column;
  }
  .services_cards {
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
  }
  .services_card_img0 {
    position: absolute;
    left: 100%;
  }
  
  .services_card_img1 {
    position: absolute;
    left: 80%;
  }
  
  .services_card_img2 {
    position: absolute;
    left: 80%;
    width:95%
  }
  
  .services_card_img3 {
    position: absolute;
    left: 62%;
    width:110%
  }
  
  .services_card_img4 {
    position: absolute;
    width: 90%;
    left: 80%;
    top: 20%;
  }

}