.what_container {
  margin: auto;
  width: 90%;
  margin-bottom: 8%;
}

.what_image {
  margin: auto;
  width: 100%;
}


@media screen and (max-width: 417px){
  .what_container {
    width: 100%;
    margin: auto;
    height: 60%;
    margin-bottom: 8%;
  }
  
  .what_image {
    margin: auto;
    width: 100%;
  }
}