.why_container {
  /* position: relative; */
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  padding: 100px 120px;
  margin: auto;
  width: 100%;
  height: 600px;
  /* align-items: center; */
  align-items: flex-start;
  gap: -10%;
  margin-left: -2%;
}

.why_img {
  width: 30%;
  /* position: absolute; */
  /* left:10rem; */
  right: 31rem;
}

.why_content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 571px;
  padding-bottom: 0px;
  flex-direction: column;
  width: 50%;
}

.why_us {
  color: #89db7b;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -1%;
  margin-top: 2%;
}

.why_heading {
  color: #1e1e1e;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 302px;
  /* margin-bottom: 0%; */
  margin-top: 2%;
}

ul{
    margin-left: -2%;
}
.why_li {
  width: 535px;
  height: 68px;
  
}

li::marker {
  color: #89db7b;
  font-size: 190%;
}

.span_bold {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.span_lite {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
