.why_container {
  position: relative;
  font-family: "Poppins";
  /* display: flex;
  flex-direction: row; */
  padding: 100px 0px 120px;
  margin: auto;
  width: 90%;
  align-items: flex-start;
  /* margin-left: -2%; */
}

.why_img {
  position: absolute;
  margin-left:70%;
  margin-top: -47%;
  width: 30%;
}

.why_content {
  display: flex;
  flex-direction: column;
  /* width: 571px; */
  
  padding-bottom: 0px;
  flex-direction: column;
  width: 90%;
}

.why_us {
  color: #89db7b;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -1%;
  margin-top: 2%;
}

.why_heading {
  color: #1e1e1e;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 302px;
  /* margin-bottom: 0%; */
  margin-top: 2%;
}

ul {
  margin-left: -2%;
}
.why_li {
  width: 70%;
  height: 70px;
}

li::marker {
  color: #89db7b;
  font-size: 190%;
}

.span_bold {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.span_lite {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 413px) {

  .why_container {
    position: relative;
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .why_content {
    flex-direction: column;
    width: 50%;
  }

  .why_heading {
    font-size: 16px;
    font-weight: 700;
    width: 300%;
  }

  ul {
    margin-left: -2%;
    margin-top: 60%;
  }


  .why_li {
    width: 300px;
    height: 100px;
  }

  .span_bold {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .span_lite {
    color: #1e1e1e;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1px;
  }


  .why_img {
    width: 15%;
    bottom: 73%;
    /* left: 15%; */
    right: 80%;
    position: absolute;
  }
}
